.modulos {
  width: 95vw;
  display: flex;
  margin: 5px;
  height: 100vh;

  .menu {
    width: 10vw;
    text-decoration: none;
    list-style: none;
    .menu-item {
      margin: 20px 0;
    }
  }
  .container-modulos {
    width: 90vw;
    background: #4FC3F7;
    padding: 25px;
  }
}
